.gameContainer {
  margin: 30px auto;
  text-align: center;
}

.title {
  font-family: 'Jura', sans-serif;
  font-size: 52px;
  margin: 10px auto;  
  color: #222C4D;
  letter-spacing: 2px;
}

.time {
  font-family: 'Jura', sans-serif;
  font-size: 48px;
  fill: #737D9D;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  cursor: default;
}

.pause {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  fill: #737D9D;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}
