.gameContainer {
  margin: 30px auto;
  text-align: center;
}

.title {
  font-family: 'Jura', sans-serif;
  font-size: 52px;
  margin: 10px auto;  
  color: #39497E;
}

.time {
  font-family: 'Jura', sans-serif;
  font-size: 48px;
  fill: #39497E;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  cursor: default;
}

.pause {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  fill: #39497E;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}